<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="shortcut icon" href="/avatar.png" type="image/x-icon">
<link rel="stylesheet" href="/style.css">
<% if (showLibrecounterImage) { %>
    <link rel="stylesheet" href="/title.css">
<% } %>