<% if (showLibrecounterImage) { %>
	<table class="title">
		<tr>
			<td>
				<h1><%= title %></h1>
			</td>
			<td class="counter">
				<a href="https://librecounter.org/referer/show" target="_blank">
					<img src="https://librecounter.org/oldStyle.svg" referrerPolicy="unsafe-url" height="44px"/>
				</a>
			</td>
		</tr>
	</table>
<% } else { %>
    <h1>
        <%= title %>
        <% if (!showLibrecounterImage) { %>
            <img src="/countvisit" alt=""/>
        <% } %>
    </h1>
<% } %>