<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card title="Benchmarks">
        <p align="center">
            <img alt="Benchmarks" src="/bench.wbmp"/>
        </p>

        <p>JBenchmark</p>
        <p><small><a href="/JBenchmark.jad">Download JAD</a></small></p>
        <p><small><a href="/JBenchmark.jar">Download JAR</a></small></p>

        <p>JBenchmark2</p>
        <p><small><a href="/JBenchmark2.jad">Download JAD</a></small></p>
        <p><small><a href="/JBenchmark2.jar">Download JAR</a></small></p>

        <p>Java Specs Test</p>
        <p><small><a href="/jst.jad">Download JAD</a></small></p>
        <p><small><a href="/jst.jar">Download JAR</a></small></p>
    </card>
</wml>