<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benchmarks</title>
    <link rel="shortcut icon" href="/avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <% title = "Benchmarks" %>
        <%- include('include/title'); %>

        <p>JBenchmark <br/> <a href="/JBenchmark.jad">JAD</a> - <a href="/JBenchmark.jar">JAR</a></p>
        <p>JBenchmark2 <br/> <a href="/JBenchmark2.jad">JAD</a> - <a href="/JBenchmark2.jar">JAR</a></p>
        <p>JBenchmark3D <br/> <a href="/JBenchmark3D.jad">JAD</a> - <a href="/JBenchmark3D.jar">JAR</a></p>
        <p>JBenchmarkHD <br/> <a href="/JBenchmarkHD.jad">JAD</a> - <a href="/JBenchmarkHD.jar">JAR</a></p>
        <p>SPMarkJava06 <br/> <a href="/spmark_java06_benchmark_176x220-132640.jad">JAD</a> - <a href="/spmark_java06_benchmark_176x220-132640.jar">JAR</a></p>
        <p>Java Specs Test <br/> <a href="/jst.jad">JAD</a> - <a href="/jst.jar">JAR</a></p>
    </div>
</body>
</html>