
<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card title="Discord J2ME">
        <p align="center">
            <img alt="Discord J2ME" src="/djlogo.wbmp"/>
        </p>

        <p>
            3.2 (30 kB ver.)
            <br/>
            <small>
                <a href="/discord_6310i.jad">JAD</a>
                -
                <a href="/discord_6310i.jar">JAR</a>
            </small>
        </p>

        <p>
            3.0 (old MIDP1 ver.)
            <br/>
            <small>
                <a href="/discord_midp1.jad">JAD</a>
                -
                <a href="/discord_midp1.jar">JAR</a>
            </small>
        </p>

        <p>Need help logging in? Visit gtrxac.fi/j2me/guide on a newer device.</p>
    </card>
</wml>