<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord J2ME</title>
    <% if (isModern) { %>
        <meta name="description" content="Download the unofficial Discord client for your Nokia, BlackBerry, Sony Ericsson, or other Java-enabled device.">
    <% } %>
    <link rel="shortcut icon" href="/avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <% title = "Discord J2ME" %>
        <%- include('include/title'); %>

        <p>To avoid account restrictions, use a version of the app that supports <strong>Direct connection</strong>, if available for your device. Read the <a href="/j2me/proxyless">guide</a> before installing a version with Direct connection.</p>

        <%- versions %>
        <b>Need help with logging in? Read the <a href="/j2me/guide">setup guide</a></b>
    </div>
</body>
</html>