<!DOCTYPE html>
<html lang="en">
<head>
    <% title = "Discord J2ME" %>
    <%- include('include/head'); %>
    <% if (showMetaDescription) { %>
        <meta name="description" content="Download the unofficial Discord client for your Nokia, BlackBerry, Sony Ericsson, or other Java-enabled device.">
    <% } %>
</head>
<body>
    <div class="main">
        <%- include('include/title'); %>

        <%- proxylessText %>

        <%- versions %>
        <a href="/j2me/archive">Old versions</a><br/>
        <a href="/j2me/guide">Token setup guide</a>
    </div>
</body>
</html>