
<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card title="Discord J2ME">
        <p align="center">
            <img alt="Discord J2ME" src="/djlogo.wbmp"/>
        </p>

        <p>3.2 (30 kB ver.)</p>
        <p><small><a href="/discord_6310i.jad">Download JAD</a></small></p>
        <p><small><a href="/discord_6310i.jar">Download JAR</a></small></p>

        <p>3.0 (old MIDP1 ver.)</p>
        <p><small><a href="/discord_midp1.jad">Download JAD</a></small></p>
        <p><small><a href="/discord_midp1.jar">Download JAR</a></small></p>

        <p>Need help logging in? Visit gtrxac.fi/j2me/guide on a newer device.</p>
    </card>
</wml>