<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card id="main" title="gtrxac.fi">
        <p align="center">
            <img alt="Welcome to gtrxac.fi" src="/logo.wbmp"/>
        </p>

        <p><a href="/j2me">Discord J2ME</a></p>
        <p><a href="http://wap.gtrxac.fi">Discord WAP</a></p>
        <p><a href="/bench">Benchmarks</a></p>
        <p><a href="#other">Other sites</a></p>

        <p><small>You are visitor #<%= visitorCount %> today!</small></p>
    </card>

    <card id="other" title="Other sites">
        <p align="center">
            <a href="#main">&lt; Back</a>
        </p>
        <p>WAP sites:</p>
        <p><a href="http://wap.hutch3g.eu/index.wml">Hutch3G</a></p>
        <p><a href="http://wap.ultraata.net">UltraATA</a></p>
        <p><a href="http://wap.15pmm01.com">wap.15pmm01.com</a></p>
        <p><a href="http://wap.bs0dd.net">Bs0Dd</a></p>
        <p>Visit on an HTML browser:</p>
        <p>oracity.rocks</p>
    </card>
</wml>