<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card title="gtrxac.fi">
        <p align="center">
            <img alt="Welcome to gtrxac.fi" src="/logo.wbmp"/>
        </p>

        <p><a href="/j2me">Discord J2ME</a></p>
        <p><a href="/wap">Discord WAP</a></p>
        <p><a href="/bench">Benchmarks</a></p>
    </card>
</wml>