<!DOCTYPE html>
<html lang="en">
<head>
    <% title = "gtrxac.fi" %>
    <%- include('include/head'); %>
    <% if (showMetaDescription) { %>
        <meta name="description" content="The home of Discord J2ME and gtrxAC's other apps and online services for old feature phones.">
    <% } %>
</head>
<body>
    <div class="main">
        <%- include('include/title'); %>
        
        <p><a href="/j2me">Discord J2ME</a><br/>Discord client for Java ME (MIDP) devices</p>
        <p><a href="/wap">Discord WAP</a><br/>Discord client for Wireless Application Protocol and HTML browsers (<a href="http://wap.gtrxac.fi/">v2 beta</a>)</p>
        <p><a href="/fh">DP File Host</a><br/>Temporary file hosting service</p>
        <p><a href="/bench">Benchmarks</a><br/>J2ME performance testing apps; not developed by me</p>
        <p><a href="/wiki/Main_Page">LPCwiki Proxy</a><br/>Read Legacy Portable Computing Wiki without modern HTTPS</p>

        <% if (showSponsors) { %>
            <iframe src="https://github.com/sponsors/gtrxAC/button" title="Sponsor gtrxAC" height="32" width="115" style="border: 0;"></iframe>
        <% } else { %>
            <p><strong>Support me!</strong><br/>If you want to donate, visit github.com/sponsors/gtrxAC on your PC or smartphone.</p>
        <% } %>

        <% if (!showLibrecounterImage) { %>
            <div class="footer">
                you are visitor #<%= visitorCount %> today
            </div>
        <% } %>
    </div>

    <% if (showButtons) { %>
        <div class="main buttons">
            <% if (showAddMyButton) { %>
                <div style="flex: 1">
                    <p style="font-size: 0.8em;">Want to link to my site? Add the button to your HTML!</p>
                    <a href="http://gtrxac.fi"><img src="http://gtrxac.fi/button.gif" alt="gtrxac.fi" width="88"></a>
                    <br/>
                    <input type="text" readonly="true" value="&lt;a href=&quot;http://gtrxac.fi/&quot;&gt;&lt;img src=&quot;http://gtrxac.fi/button.gif&quot; alt=&quot;gtrxac.fi&quot; width=&quot;88&quot;&gt;&lt;/a&gt;">
                </div>
            <% } %>
            <div style="flex: 3;">
                <% if (!showAddMyButton) { %>
                    <a href="http://gtrxac.fi">
                        <img src="/button.gif" alt="gtrxac.fi" width="88" height="31">
                    </a>
                <% } %>
                <a href="https://hutch3g.eu/">
                    <img src="http://hutch3g.eu/img/Hutch3G.gif" title="3 is a magic number ♪" alt="Hutch3G" width="88" height="31">
                </a>
                <a href="http://ultraata.net/">
                    <img src="http://ultraata.net/button.png" alt="UltraATA" width="88" height="31">
                </a>
                <% if (showTLSButtons) { %>
                    <a href="http://oracity.rocks/">
                        <img src="http://oracity.rocks/images/button.png" alt="oracity rocks!" width="88" height="31">
                    </a>
                <% } %>
                <a href="http://bs0dd.net/">
                    <img src="http://bs0dd.net/banner.gif" alt="Bs0Dd" width="88" height="31">
                </a>
            </div>
        </div>
    <% } %>

    <div class="footer">
        <%- include('include/footer') %>
    </div>
</body>
</html>