<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gtrxac.fi</title>
    <% if (showMetaDescription) { %>
        <meta name="description" content="The home of Discord J2ME and gtrxAC's other apps and online services for old feature phones.">
    <% } %>
    <link rel="shortcut icon" href="/avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <% title = "gtrxac.fi" %>
        <%- include('include/title'); %>
        
        <p><a href="/j2me">Discord J2ME</a><br/>Discord client for Java ME (MIDP) devices</p>
        <p><a href="/wap">Discord WAP</a><br/>Discord client for Wireless Application Protocol and HTML browsers</p>
        <p><a href="/fh">DP File Host</a><br/>Temporary file hosting service</p>
        <p><a href="/bench">Benchmarks</a><br/>J2ME performance testing apps; not developed by me</p>
        <p><a href="/wiki/Main_Page">LPCwiki Proxy</a><br/>Read Legacy Portable Computing Wiki without modern HTTPS</p>

        <% if (showSponsors) { %>
            <iframe src="https://github.com/sponsors/gtrxAC/button" title="Sponsor gtrxAC" height="32" width="115" style="border: 0;"></iframe>
        <% } else { %>
            <p><strong>Support me!</strong><br/>If you want to donate, visit github.com/sponsors/gtrxAC on your PC or smartphone.</p>
        <% } %>

        <% if (!showLibrecounterImage) { %>
            <div class="footer">
                you are visitor #<%= visitorCount %> today
            </div>
        <% } %>
    </div>

    <% if (showButtons) { %>
        <div class="main buttons">
            <div style="flex: 1">
                <p style="font-size: 0.8em;">Want to link to my page? Add the button to your HTML!</p>
                <a href="http://gtrxac.fi"><img src="http://gtrxac.fi/button.png" alt="gtrxac.fi" width="88"></a>
                <br/>
                <input type="text" readonly="true" value="&lt;a href=&quot;http://gtrxac.fi/&quot;&gt;&lt;img src=&quot;http://gtrxac.fi/button.png&quot; alt=&quot;gtrxac.fi&quot; width=&quot;88&quot;&gt;&lt;/a&gt;">
            </div>
            <div style="flex: 3;">
                <a href="https://hutch3g.eu/"><img src="http://hutch3g.eu/img/Hutch3G.gif" title="3 is a magic number ♪" width="88"></a>
            </div>
        </div>
    <% } %>
</body>
</html>