<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max JAR size</title>
    <link rel="shortcut icon" href="/avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <% title = "Max JAR size" %>
        <%- include('include/title'); %>

        <p>Test your phone's maximum supported JAR size by attempting to install the following apps.</p>
        
        <p>31,999: <a href="/jarsize/31999.jad">JAD</a> - <a href="/jarsize/31999.jar">JAR</a></p>
        <p>32,000: <a href="/jarsize/32000.jad">JAD</a> - <a href="/jarsize/32000.jar">JAR</a></p>
        <p>32,001: <a href="/jarsize/32001.jad">JAD</a> - <a href="/jarsize/32001.jar">JAR</a></p>
        <p>32,767: <a href="/jarsize/32767.jad">JAD</a> - <a href="/jarsize/32767.jar">JAR</a></p>
        <p>32,768: <a href="/jarsize/32768.jad">JAD</a> - <a href="/jarsize/32768.jar">JAR</a></p>
        <p>32,769: <a href="/jarsize/32769.jad">JAD</a> - <a href="/jarsize/32769.jar">JAR</a></p>
        <p>63,999: <a href="/jarsize/63999.jad">JAD</a> - <a href="/jarsize/63999.jar">JAR</a></p>
        <p>64,000: <a href="/jarsize/64000.jad">JAD</a> - <a href="/jarsize/64000.jar">JAR</a></p>
        <p>64,001: <a href="/jarsize/64001.jad">JAD</a> - <a href="/jarsize/64001.jar">JAR</a></p>
        <p>65,535: <a href="/jarsize/65535.jad">JAD</a> - <a href="/jarsize/65535.jar">JAR</a></p>
        <p>65,536: <a href="/jarsize/65536.jad">JAD</a> - <a href="/jarsize/65536.jar">JAR</a></p>
        <p>65,537: <a href="/jarsize/65537.jad">JAD</a> - <a href="/jarsize/65537.jar">JAR</a></p>
        <p>99,999: <a href="/jarsize/99999.jad">JAD</a> - <a href="/jarsize/99999.jar">JAR</a></p>
        <p>100,000: <a href="/jarsize/100000.jad">JAD</a> - <a href="/jarsize/100000.jar">JAR</a></p>
        <p>100,001: <a href="/jarsize/100001.jad">JAD</a> - <a href="/jarsize/100001.jar">JAR</a></p>
        <p>127,999: <a href="/jarsize/127999.jad">JAD</a> - <a href="/jarsize/127999.jar">JAR</a></p>
        <p>128,000: <a href="/jarsize/128000.jad">JAD</a> - <a href="/jarsize/128000.jar">JAR</a></p>
        <p>128,001: <a href="/jarsize/128001.jad">JAD</a> - <a href="/jarsize/128001.jar">JAR</a></p>
        <p>131,071: <a href="/jarsize/131071.jad">JAD</a> - <a href="/jarsize/131071.jar">JAR</a></p>
        <p>131,072: <a href="/jarsize/131072.jad">JAD</a> - <a href="/jarsize/131072.jar">JAR</a></p>
        <p>131,073: <a href="/jarsize/131073.jad">JAD</a> - <a href="/jarsize/131073.jar">JAR</a></p>
        <p>149,999: <a href="/jarsize/149999.jad">JAD</a> - <a href="/jarsize/149999.jar">JAR</a></p>
        <p>150,000: <a href="/jarsize/150000.jad">JAD</a> - <a href="/jarsize/150000.jar">JAR</a></p>
        <p>150,001: <a href="/jarsize/150001.jad">JAD</a> - <a href="/jarsize/150001.jar">JAR</a></p>
        <p>199,999: <a href="/jarsize/199999.jad">JAD</a> - <a href="/jarsize/199999.jar">JAR</a></p>
        <p>200,000: <a href="/jarsize/200000.jad">JAD</a> - <a href="/jarsize/200000.jar">JAR</a></p>
        <p>200,001: <a href="/jarsize/200001.jad">JAD</a> - <a href="/jarsize/200001.jar">JAR</a></p>
        <p>249,999: <a href="/jarsize/249999.jad">JAD</a> - <a href="/jarsize/249999.jar">JAR</a></p>
        <p>250,000: <a href="/jarsize/250000.jad">JAD</a> - <a href="/jarsize/250000.jar">JAR</a></p>
        <p>250,001: <a href="/jarsize/250001.jad">JAD</a> - <a href="/jarsize/250001.jar">JAR</a></p>
        <p>262,143: <a href="/jarsize/262143.jad">JAD</a> - <a href="/jarsize/262143.jar">JAR</a></p>
        <p>262,144: <a href="/jarsize/262144.jad">JAD</a> - <a href="/jarsize/262144.jar">JAR</a></p>
        <p>262,145: <a href="/jarsize/262145.jad">JAD</a> - <a href="/jarsize/262145.jar">JAR</a></p>
        <p>499,999: <a href="/jarsize/499999.jad">JAD</a> - <a href="/jarsize/499999.jar">JAR</a></p>
        <p>500,000: <a href="/jarsize/500000.jad">JAD</a> - <a href="/jarsize/500000.jar">JAR</a></p>
        <p>500,001: <a href="/jarsize/500001.jad">JAD</a> - <a href="/jarsize/500001.jar">JAR</a></p>
        <p>524,287: <a href="/jarsize/524287.jad">JAD</a> - <a href="/jarsize/524287.jar">JAR</a></p>
        <p>524,288: <a href="/jarsize/524288.jad">JAD</a> - <a href="/jarsize/524288.jar">JAR</a></p>
        <p>524,289: <a href="/jarsize/524289.jad">JAD</a> - <a href="/jarsize/524289.jar">JAR</a></p>
        <p>999,999: <a href="/jarsize/999999.jad">JAD</a> - <a href="/jarsize/999999.jar">JAR</a></p>
        <p>1,000,000: <a href="/jarsize/1000000.jad">JAD</a> - <a href="/jarsize/1000000.jar">JAR</a></p>
        <p>1,000,001: <a href="/jarsize/1000001.jad">JAD</a> - <a href="/jarsize/1000001.jar">JAR</a></p>
        <p>1,048,575: <a href="/jarsize/1048575.jad">JAD</a> - <a href="/jarsize/1048575.jar">JAR</a></p>
        <p>1,048,576: <a href="/jarsize/1048576.jad">JAD</a> - <a href="/jarsize/1048576.jar">JAR</a></p>
        <p>1,048,577: <a href="/jarsize/1048577.jad">JAD</a> - <a href="/jarsize/1048577.jar">JAR</a></p>
        
    </div>
</body>
</html>