<!DOCTYPE html>
<html lang="en">
<head>
    <% title = "Direct connection" %>
    <%- include('include/head'); %>
    <style>
        .proxyless td img {
            width: 150px;
        }
        .mono {
            font-family: monospace;
        }
        .proxyless {
            margin-top: 0.5em;
            border-collapse: collapse;
        }
        .proxyless td, .proxyless th {
            padding: 0.3em;
            border: solid thin #333;
        }
        .yes {
            color: #070;
            font-weight: bold;
        }
        .no {
            color: #800;
            font-weight: bold;
        }
        .maybe {
            color: #750;
            font-weight: bold;
        }
        h2:target {
            background-color: #ff7;
        }
        small {
            color: #555;
        }
    </style>
</head>
<body>
    <div class="main">
        <%- include('include/title'); %>

        <h2>What is Direct connection?</h2>
        <p>Previously, <a href="/j2me">Discord J2ME</a> connected to Discord's servers using a proxy server, as TLS 1.2 (modern HTTPS) connections were generally not supported on older devices. The proxy proved to be unsafe, as Discord started to temporarily restrict accounts that connected via the proxy, so an effort was made to allow TLS 1.2 connections on J2ME.</p>
        <p><strong>Direct connection</strong> is an option available since Discord J2ME 5.2 on certain devices that connects directly to Discord using TLS 1.2.</p>
        <p>To stay safe, we also recommend you log in with your <strong>email and password</strong> instead of a token. (Discord J2ME 5.4 and above)</p>
        
        <h2 id="which">Which devices support Direct connection?</h2>
        <p>To support Direct connection, a device must have the ability to <strong>install custom code-signing certificates</strong> for Java apps. The device must also be able to <strong>handle JAR files up to 1 MB</strong> in size.</p>
        <p>Alternatively, if a device <strong>supports TLS 1.2 on the system level</strong>, it does not need a certificate. TLS 1.2 support can be installed on some Symbian phones.</p>
        <p></p>
        <p>The below table lists device platforms known to be supported, along with explanations. You can check your device's <i>software platform</i> and other specs on sites like <a href="https://lpcwiki.miraheze.org/wiki/Main_Page">LPCwiki</a>.</p>

        <table class="proxyless">
            <tr>
                <th>Platform</th>
                <th>Supported</th>
                <th>Explanation</th>
                <th>Guide</th>
            </tr>
            <tr>
                <td>Nokia Series 40, 2nd Edition<br></td>
                <td><div class="no">No</div></td>
                <td>Not supported by aNokiCert, and the JAR size limit on 2nd Edition devices is too low.</td>
                <td></td>
            </tr>
            <tr>
                <td>Nokia Series 40, 3rd Edition initial release<br></td>
                <td><div class="no">No</div></td>
                <td>Not supported by aNokiCert.</td>
                <td></td>
            </tr>
            <tr>
                <td>Nokia Series 40, 3rd Edition FP1 and up<br><small>devices with at least 1 MB max JAR size</small></td>
                <td><div class="yes">Yes</div></td>
                <td>Code-signing certificate can be installed via software like aNokiCert.</td>
                <td><a href="#s40">Guide</a></td>
            </tr>
            <tr>
                <td>Nokia Series 40<br><small>some phone models released around 2012-2013</small></td>
                <td><div class="maybe">Maybe</div></td>
                <td>aNokiCert fails to connect on the Nokia 301 and similar devices. MobiMB 3.6.5 and <a href="https://t.me/x726564/72">modified Gammu</a> have been reported to work on such devices.</td>
                <td></td>
            </tr>
            <tr>
                <td>Symbian S60, S80<br/><small>some versions</small></td>
                <td class="yes">Yes</td>
                <td>TLS 1.2 can be installed on the system level on some Symbian versions; certificate is not required.</td>
                <td><a href="#s60">Guide</a></td>
            </tr>
            <tr>
                <td>Symbian UIQ3</td>
                <td class="yes">Yes</td>
                <td>TLS 1.2 can be installed on the system level; certificate is not required.</td>
                <td><a href="#uiq">Guide</a></td>
            </tr>
            <tr>
                <td>Sony Ericsson<br><small>devices with DB3350 chipset</small></td>
                <td><div class="yes">Yes</div></td>
                <td>Certificate can be installed via file system modification. See guide for supported devices.</td>
                <td><a href="#se">Guide</a></td>
            </tr>
            <tr>
                <td>Sony Ericsson<br/><small>other devices</small></td>
                <td class="no">No?</td>
                <td>On most devices, the certificate can be installed, but the connection will get stuck loading.</td>
                <td></td>
            </tr>
            <tr>
                <td>J2ME Loader</td>
                <td class="yes">Yes</td>
                <td>Certificate is not required. Two builds are provided; see guide for details.</td>
                <td><a href="#jl">Guide</a></td>
            </tr>
            <tr>
                <td>KEmulator, other emulators</td>
                <td><div class="yes">Yes</div></td>
                <td>Certificate is not required, as the J2ME security model is not enforced on most emulators.</td>
                <td></td>
            </tr>
            <tr>
                <td>Any other platform not mentioned</td>
                <td><div class="no">No</div></td>
                <td>Methods for installing code-signing certificates are not known yet. If you find a way to install certificates on any platform not listed here, let us know!</td>
                <td></td>
            </tr>
        </table>

        <h2 id="s40">How to use Direct connection on Nokia S40?</h2>
        <p>The code-signing certificate can be installed in two different ways, with steps for both methods listed below. After the certificate has been installed, make sure the device's date and time are correct, and then download Discord J2ME onto the phone. This <i>must</i> be done by downloading a JAD file via the phone's browser.</p>
        <h3 id="anokicert">aNokiCert method (Android)</h3>
        <ol>
            <li>Download the <a href="/fh/exp.cer">code-signing certificate</a> onto your Android device.</li>
            <li>Install <a href="/j2me/anokicert.apk">aNokiCert</a> on your Android device. Newer Android devices may restrict the installation of older apps. In such cases, you can try bypassing the restriction via ADB or by using an older device.</li>
            <li>Make sure Bluetooth on the Nokia phone is enabled and set to visible.</li>
            <li>Open aNokiCert and press the search icon on the top right. This will connect the Android device to your Nokia phone using Bluetooth.</li>
            <li>Select <i>Choose certificate</i> and find the downloaded certificate file.</li>
            <li>Press <i>Install</i>.</li>
        </ol>
        <h3 id="mobimb">MobiMB method (PC)</h3>
        <ol>
            <li>Download the <a href="/fh/exp.cer">exp.cer</a> and <a href="/fh/ext_info.sys">ext_info.sys</a> files onto your PC.</li>
            <li>Using a program that can manage the file system of Nokia phones (we recommend MobiMB for Windows and Gammu for Linux), copy both downloaded files to the <span class="mono">C:/predefhiddenfolder/certificates/user</span> folder on the phone.</li>
        </ol>

        <h2 id="s60">How to use Direct connection on Symbian S60, S80, or Symbian^3?</h2>
        <p>Check your device's Symbian version from sites like <a href="https://lpcwiki.miraheze.org/wiki/Main_Page">LPCwiki</a>.</p>

        <div class="yes">SUPPORTED Symbian versions:</div>
        <ul>
            <li>7.0 (Series 60 2nd Edition initial release and FP1)</li>
            <li>7.0 (Series 80 2nd Edition)</li>
            <li>8.1 (Series 60 2nd Edition FP3)</li>
            <li>9.1 and above (S60 3rd and 5th Edition, Symbian^3, Anna, Belle)</li>
        </ul>

        <div class="no">UNSUPPORTED Symbian versions:</div>
        <ul>
            <li>6.0 (Series 80 1st Edition)</li>
            <li>6.1 (Series 60 1st Edition)</li>
            <li>8.0 (Series 60 2nd Edition FP2)</li>
        </ul>

        <strong>Steps:</strong>
        <ol>
            <li>If your device runs <strong>Symbian 9.1 or above,</strong> make sure it is jailbroken. To jailbreak the device, you can follow any online guide, such as <a href="https://lpcwiki.miraheze.org/wiki/Jailbreaking_S60_devices">this one</a>.</li>
            <li>Install the <a href="https://nnproject.cc/tls/">nnproject TLS 1.2 patch</a> onto your device.</li>
            <li>Download Discord J2ME onto your device.</li>
        </ol>

        <h2 id="uiq">How to use Direct connection on Symbian UIQ?</h2>
        <ol>
            <li>Install the TLS 1.2 patch onto your device using <a href="https://www.avalibeyaz.com/uiq3/">UIQ3 Hack Tool</a>.</li>
            <li>Download Discord J2ME onto your device.</li>
        </ol>

        <h2 id="se">How to use Direct connection on Sony Ericsson?</h2>
        <p><strong>Direct connection on Sony Ericsson is supported from version 5.4 onwards.</strong></p>
        <p><span class="yes">SUPPORTED models:</span> Aino, Cedar, Elm, Hazel, Xperia Pureness, Yari, Zylo.</p>
        <p>Other models are <span class="no">unlikely to be compatible</span> and may get stuck loading.</p>

        <strong>Steps:</strong>
        <ol>
            <li>Connect your SE device to a PC program that can manage the internal file system of SE phones (e.g. SEFP2).</li>
            <li>Navigate to <span class="mono">/tpa/preset/custom</span>.</li>
            <li>Replace Utiroot.cer with <a href="/fh/exp.cer">the custom certificate</a> (make sure to keep the original file name Utiroot.cer).</li>
            <li>Copy <a href="/default_upgrade.xml">default_upgrade.xml</a> to the same folder on the phone.</li>
            <li>Make sure the device's date and time are set correctly.</li>
            <li>Download Discord J2ME onto the phone. This <i>must</i> be done by downloading a JAD file via the phone's browser.</li>
        </ol>

        <h2 id="jl">How to use Direct connection on J2ME Loader?</h2>
        <p>For J2ME Loader, we have two builds available.</p>
        <ul>
            <li><strong>discord_jl</strong> is only guaranteed to run on Android 5.0 and above, as it relies on system-level TLS 1.2 support.</li>
            <li><strong>discord_jl_tls</strong> runs on older devices, as it includes Java-based TLS support, but installation of this build may get stuck on devices with low RAM. More than 512 MB of RAM is recommended.</li>
        </ul>
        <p>If you have a low-RAM device with an older Android version:</p>
        <ul>
            <li>You can install <strong>discord_jl_tls</strong> onto a higher-spec device first, and then copying the <span class="mono">J2ME-Loader/converted</span> folder from the internal storage onto your other device.</li>
            <li>You may also try the <strong>discord_midp2_alt_tls</strong> build with another J2ME runtime, like <strong>phoneME</strong>.</li>
        </ul>

        <h2 id="unsupported">What if my device is unsupported?</h2>
        <p>It is highly recommended to host your own proxy server if possible. This can be done on your own PC via services like ngrok, or by renting a VPS. A guide will be written later, but more info is available on <a href="https://discord.gg/2GKuJjQagp">our server</a> in the #discord-j2me-wap channel (pinned messages).</p>
        <p>If you're using the public proxy server, disabling the <i>Use gateway</i> option in the login screen reduces the chances of getting your account restricted.</p>
    </div>

    <div class="footer">
        <p><a href="/">gtrxac.fi</a> &gt; <a href="/j2me">Discord J2ME</a> &gt; <strong>Direct connection</strong></p>
        <%- include('include/footer') %>
    </div>
</body>
</html>
