<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct connection</title>
    <link rel="shortcut icon" href="/avatar.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <style>
        td img {
            width: 150px;
        }
        i {
            font-family: monospace;
        }
        table {
            margin-top: 0.5em;
            border-collapse: collapse;
        }
        td, th {
            padding: 0.3em;
            border: solid thin #333;
        }
        .yes {
            color: #070;
            font-weight: bold;
        }
        .no {
            color: #700;
            font-weight: bold;
        }
        .maybe {
            color: #750;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="main">
        <% if (isModern) { %>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <h1>Direct connection</h1>
                <a href="https://librecounter.org/referer/show" target="_blank">
                    <img src="https://librecounter.org/oldStyle.svg" referrerPolicy="unsafe-url" height="44px"/>
                </a>
            </div>
        <% } else { %>
            <h1>Direct connection</h1>
        <% } %>

        <h2>What is Direct connection?</h2>
        <p>Previously, <a href="/j2me">Discord J2ME</a> connected to Discord's servers using a proxy server, as TLS 1.2 (modern HTTPS) connections were generally not supported on older devices. The proxy proved to be unsafe, as Discord started to temporarily restrict accounts that connected via the proxy, so an effort was made to allow TLS 1.2 connections on J2ME.</p>
        <p><strong>Direct connection</strong> is an option available since Discord J2ME 5.2 on certain devices that connects directly to Discord using TLS 1.2.</p>
        
        <h2>Which devices support Direct connection?</h2>
        <p>To support Direct connection, a device must have the ability to <strong>install custom code-signing certificates</strong> for Java apps. On Symbian 9.1 and up, TLS 1.2 can be installed on the system level, so a certificate is not required. The device must also be able to <strong>handle JAR files up to 1 MB</strong> in size.</p>
        <p>The below table lists device platforms known to be supported, along with explanations. You can check your device's <i>software platform</i> and other specs on sites like <a href="https://lpcwiki.miraheze.org/wiki/Main_Page">LPCwiki</a>.</p>

        <table>
            <tr>
                <th>Platform</th>
                <th>Supported?</th>
                <th>Explanation</th>
            </tr>
            <tr>
                <td>Nokia Series 40, 2nd Edition<br></td>
                <td><div class="no">No</div></td>
                <td>Not supported by aNokiCert, and the JAR size limit on 2nd Edition devices is too low.</td>
            </tr>
            <tr>
                <td>Nokia Series 40, 3rd Edition and up<br><i>on devices with at least 1 MB max JAR size</i></td>
                <td><div class="yes">Yes</div></td>
                <td>Code-signing certificates can be installed via software like aNokiCert.<br/>Early 3rd Edition devices (e.g. Nokia 6270) are not supported yet as the certs seem to be stored in a different location in the phone's file system.</td>
            </tr>
            <tr>
                <td>Nokia Series 40<br><i>some phone models released around 2012-2013</i></td>
                <td><div class="maybe">Maybe</div></td>
                <td>aNokiCert fails to connect on the Nokia 301 and similar devices. MobiMB 3.6.5 has been reported to work on such devices.</td>
            </tr>
            <tr>
                <td>Symbian S60v2 FP1 and below</td>
                <td><div class="no">No</div></td>
                <td>TLS 1.2 patch is unsupported. Java-based TLS could be used without needing to sign the app, but error messages are shown when using HTTPS, likely due to low memory.</td>
            </tr>
            <tr>
                <td>Symbian S60v2 FP2, FP3, and Series 80</td>
                <td><div class="maybe">No?</div></td>
                <td>TLS 1.2 patch is unsupported. Certificate can be installed, but signed app installation still fails for some reason.</td>
            </tr>
            <tr>
                <td>Symbian 9.1 and up (S60v3 and up, UIQ3)</td>
                <td><div class="yes">Yes</div></td>
                <td>TLS 1.2 can be installed on a system level; certificate is not required.</td>
            </tr>
            <tr>
                <td>Sony Ericsson</td>
                <td><div class="maybe">No?</div></td>
                <td>Certificate can be installed via file system modification. HTTPS connection fails for some reason.</td>
            </tr>
            <tr>
                <td>J2ME Loader, KEmulator, likely other emulators</td>
                <td><div class="yes">Yes</div></td>
                <td>The J2ME security model is not enforced on most emulators, so a certificate is not required.</td>
            </tr>
            <tr>
                <td>Any other platform not mentioned</td>
                <td><div class="no">No</div></td>
                <td>Methods for installing code-signing certificates are not known yet.</td>
            </tr>
        </table>

        <h2>How to use Direct connection on Nokia S40?</h2>
        <p>The code-signing certificate can be installed in two different ways, with steps for both methods listed below. After the certificate has been installed, download Discord J2ME onto the phone. This <i>must</i> be done by downloading a JAD file via the phone's browser.</p>
        <h3>aNokiCert method (Android)</h3>
        <ol>
            <li>Download the <a href="/fh/exp.cer">code-signing certificate</a> onto your Android device.</li>
            <li>Install <a href="/j2me/anokicert.apk">aNokiCert</a> on your Android device. Newer Android devices may restrict the installation of older apps. In such cases, you can try bypassing the restriction via ADB or by using an older device.</li>
            <li>Make sure Bluetooth on the Nokia phone is enabled and set to visible.</li>
            <li>Open aNokiCert and press the search icon on the top right. This will connect the Android device to your Nokia phone using Bluetooth.</li>
            <li>Select <i>Choose certificate</i> and find the downloaded certificate file.</li>
            <li>Press <i>Install</i>.</li>
        </ol>
        <h3>MobiMB method (PC)</h3>
        <ol>
            <li>Download the <a href="/fh/exp.cer">exp.cer</a> and <a href="/fh/ext_info.sys">ext_info.sys</a> files onto your PC.</li>
            <li>Using a program that can manage the file system of Nokia phones (we recommend MobiMB for Windows and Gammu for Linux), copy both downloaded files to the <i>C:/predefhiddenfolder/certificates/user</i> folder on the phone.</li>
        </ol>

        <h2>How to use Direct connection on Symbian S60 or Symbian^3?</h2>
        <ol>
            <li>Make sure your device is jailbroken. To jailbreak the device, you can follow any online guide, such as <a href="https://lpcwiki.miraheze.org/wiki/Jailbreaking_S60_devices">this one</a>.</li>
            <li>Install the <a href="https://nnproject.cc/tls/">nnproject TLS 1.2 patch</a> onto your device.</li>
            <li>Download Discord J2ME onto your device.</li>
        </ol>

        <h2>How to use Direct connection on Symbian UIQ?</h2>
        <ol>
            <li>Install the TLS 1.2 patch onto your device using <a href="https://www.avalibeyaz.com/uiq3/">UIQ3 Hack Tool</a>.</li>
            <li>Download Discord J2ME onto your device.</li>
        </ol>

        <h2>How to use Direct connection on Sony Ericsson?</h2>
        <p>Sony Ericsson devices are not supported yet, but certificate installation is possible on them, so support may be added in the future.</p>
        <p>From my testing, Direct connection does not work on Sony Ericsson (likely a bug in the <a href="https://github.com/ProgrammerIn-wonderland/ModernConnector">ModernConnector</a> library), but you can test using the "5.2 beta for Nokia S40v3+ with TLS" version of the app.</p>
        <ol>
            <li>Connect your SE device to a PC program that can manage the internal file system of SE phones (e.g. SEFP2).</li>
            <li>Navigate to <i>/tpa/preset/custom</i> and replace Utiroot.cer with <a href="/fh/exp.cer">the custom certificate</a> (make sure to keep the original file name Utiroot.cer).</li>
            <li>Do a full reset on your phone from the settings - the default lock code should be 0000.</li>
            <li>Download Discord J2ME onto the phone. This <i>must</i> be done by downloading a JAD file via the phone's browser.</li>
        </ol>

        <h2>What if my device is unsupported?</h2>
        <p>It is highly recommended to host your own proxy server if possible. This can be done on your own PC via services like ngrok, or by renting a VPS.</p>
        <p>If you're using the public proxy server, disabling the <i>Use gateway</i> option in the login screen reduces the chances of getting your account restricted.</p>
    </div>
</body>
</html>